This analysis contains information about 79 customers


 ------------------------------  Summary of License Costs  ------------------------------
                              Product Name License type  Quantity Contract ARR Average Discount
                         Active Data Guard          NUP       225       $9,753             -81%
                         Active Data Guard    Processor       182     $155,707             -93%
                      Advanced Compression          NUP       175       $3,020             -92%
                      Advanced Compression    Processor       231     $225,919             -91%
                         Advanced Security    Processor       277     $323,771             -92%
Data Masking Pack for Non Oracle Databases    Processor         5       $6,461             -89%
                        Database In-Memory    Processor         5       $8,008             -93%
        Database Lifecycle Management Pack    Processor        17      $16,121             -92%
                            Database Vault    Processor        44      $52,536             -90%
                          Diagnostics Pack          NUP       550       $8,289             -90%
                          Diagnostics Pack    Processor       556     $383,809             -91%
                               Multitenant          NUP       175       $4,596             -92%
                                      OLAP    Processor        12      $39,536             -86%
                 Oracle Advanced Analytics    Processor         8      $17,665             -90%
  Oracle Audit Vault and Database Firewall    Processor        32      $14,135             -96%
   Oracle Data Masking and Subsetting Pack    Processor        12      $14,341             -90%
        Oracle Database Enterprise Edition          NUP      1350     $173,612             -86%
        Oracle Database Enterprise Edition    Processor       600   $3,608,220             -87%
 Oracle Real Application Clusters One Node    Processor        12      $15,964             -94%
                              Partitioning          NUP       485      $13,317             -88%
                              Partitioning    Processor       485     $653,269             -88%
                 Real Application Clusters          NUP       350      $24,481             -85%
                 Real Application Clusters    Processor       242     $744,595             -87%
                         Spatial and Graph    Processor        19      $24,182             -93%
                               Tuning Pack          NUP       550       $5,881             -89%
                               Tuning Pack    Processor       510     $265,035             -90%
----------------------------------------------------------------------------------------------------
Total:                                                           1,350    6,812,223             -88%